S3_ENDPOINT = "http://192.168.10.100:8333"
S3_REGION = "us-east-1"
S3_IAM_ENDPOINT = "http://192.168.10.100:8111"
S3_ADMIN_ACCESS=ewms_admin
S3_ADMIN_SECRET=
IAM_SIGNING_KEY=

S3_APP_ACCESS=ewms_app
S3_APP_SECRET=

S3_READONLY_ACCESS=ewms_readonly
S3_READONLY_SECRET=